<!-- section start -->
<div class="sticky-header">
<section>

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->  

<!-- body content start-->
<div class="body-content" style="min-height: 1200px;">

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <div class="page-head">
        <h3 class="m-b-less text-uppercase">
            Coligação por município
        </h3>
        <div class="state-information">
            <ol class="breadcrumb m-b-less bg-less">
                <li>
                  <a href="dashboard">Painel</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Apuração 2016</a>
                </li>
            </ol>
        </div>
    </div>

    <!-- wrapper start -->
    <div class="wrapper">
        <!-- row start -->
        <div class="row">

            <div class="col-md-12">
                <section class="panel">
                    <div class="panel-body">

                        <!-- form start -->
                        <form name="$root.usuarioForm" class="form-horizontal" role="form" 
                                novalidate>

                            <div class="form-group">
                                <label class="col-md-3 control-label form-horizontal">Cidade</label>
                                <div class="col-md-9">
                                    <select
                                        name="cidade"
                                        id="cidade"
                                        class="form-control"
                                        ng-init="loadCidades()"
                                        ng-options="i.id as i.nome for i in cidade"
                                        ng-model="param.cidade.id"
                                        required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                              <div class="col-md-9 col-md-offset-3">
                                <button class="btn btn-action btn-primary btn-sm m-t-5 addon-btn"  ng-disabled="!param.cidade.id || results.loading"
                                  ng-click="filter()">
                                  <i class="material-icons">search</i> Filtrar 
                                </button>
                                <i ng-if="results.loading" 
                                  class="fa fa-spin fa-spinner m-l-10"></i>
                              </div>
                            </div>

                            <div class="row" ng-if="prefeitos.results">
                                <hr/>
                            </div>

                            <div class="row card-not-printable" 
                            ng-if="prefeitos.results">
                                <div class="col-md-6">
                                    <h5 class="text-left">Resultado do filtro</h5>
                                </div>
                                <div class="col-md-6" ng-if="prefeitos.results">
                                  <button class="btn btn-success btn-sm pull-right btn-action addon-btn card-not-printable" 
                                    onclick="javascript:window.print();">
                                    <i class="material-icons">print</i> Imprimir
                                  </button>
                                </div>
                            </div>
                            </form>
                        <!-- form end -->
                            <div class="row" ng-if="prefeitos.results">
                               <div class="col-md-12">
                                   <div class="logo-item text-left text-uppercase">
                                        <h3 class="text-uppercase">Relatório de Coligações(Fonte: TSE)</h3>
                                        <h5 class="text-uppercase">Controle Municipal 2016</h5>
                                    </div>
                               </div>
                            </div>

                            <div class="row state-overview state-alt">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div id="printable" ng-bind-html="resultados.results"></div>
                                    </div>
                                </div>
                            </div>

                        

                    </div>
                </section>
            </div>

        </div>
        <!-- end row -->

    </div>
    <!-- end wrapper -->
    
    <!-- Footer -->
    <md-footer></md-footer>
    <!-- end Footer -->

    <!-- right slider -->
    <md-side></md-side>
    <!-- end right slider -->

</div>
<!-- body content end-->

</section>
</div>
<!-- end section