section start -->
<div class="sticky-header">
<section>
<style>
.angular-google-map-container { 
  height: 650px; 
}
.info-window {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: -130px;
    margin-top: 15px;
    padding: 20px;
    width: 400px;
    height: 650px;
}
</style>

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->

<!-- body content start-->
<div class="body-content" style="min-height: 1200px;">

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <div class="page-head">
        <h3 class="m-b-less text-uppercase">
            Mapa
        </h3>
        <!--<span class="sub-title">Welcome to Static Table</span>-->
        <div class="state-information">
            <ol class="breadcrumb m-b-less bg-less">
                <li>
                  <a href="dashboard">Painel</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Eleições 2014 - 1 Turno - Oposição</a>
                </li>
                <li class="active">
                  <a href="javascript:void(0);">Mapa de Votação: Tião Viana x Oposição</a>
                </li>
            </ol>
        </div>

    </div>


    <!-- wrapper start -->
    <div class="wrapper">

        <!-- row start -->
        <div class="row">

          <div class="col-sm-12">
            <section class="panel">
              <div class="panel-body">
                <!-- form start -->
                <form name="mapaForm" class="form-horizontal" role="form">

                    <section class="web-application">
                      <h4 class="h-text-light">Mapa de Votação: Tião Viana x Oposição</h4>
                      <div class="text-right alert alert-danger" ng-if="results.loading"><i class="fa fa-spin fa-spinner"></i>Aguarde... Estamos carregando os resultados...</div>
                    </section>

                    <div class="row">
                      <div class="form-group">
                                <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Município</label>
                                <div class="col-md-6">
                                    <select
                                      name="municipio"
                                      class="form-control"
                                      ng-model="municipio"
                                      required>
                                      <option value="">Escolha um Minicípio</option>
                                      <option value="1">ACRELÂNDIA</option>
                                      <option value="2">ASSIS BRASIL</option>
                                      <option value="3">BRASILÉIA</option>
                                      <option value="4">BUJARI</option>
                                      <option value="5">CAPIXABA</option>
                                      <option value="6">CRUZEIRO DO SUL</option>
                                      <option value="7">EPITACIOLÂNDIA</option>
                                      <option value="8">FEIJÓ</option>
                                      <option value="9">JORDÃO</option>
                                      <option value="10">MÂNCIO LIMA</option>
                                      <option value="11">MANOEL URBANO</option>
                                      <option value="12">MARECHAL THAUMATURGO</option>
                                      <option value="13">PLÁCIDO DE CASTRO</option>
                                      <option value="14">PORTO ACRE</option>
                                      <option value="15">PORTO WALTER</option>
                                      <option value="16">RIO BRANCO</option>
                                      <option value="17">RODRIGUES ALVES</option>
                                      <option value="18">SANTA ROSA DO PURUS</option>
                                      <option value="19">SENA MADUREIRA</option>
                                      <option value="20">SENADOR GUIMARD</option>
                                      <option value="21">TARAUACÁ</option>
                                      <option value="22">XAPURI</option>
                                    </select>
                                    <span ng-if="mapaForm.municipio.$touched && mapaForm.municipio.$dirty" 
                                      class="input-dirty-touched">
                                        <i ng-class="mapaForm.municipio.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                                    </span>
                                </div>
                                <div class="col-md-3">
                                  <button ng-click="gerarMapa()" class="btn btn-sm btn-primary">
                                    <i ng-if="status.loading" class="fa fa-spin fa-spinner"></i>
                                    Gerar Visualização
                                  </button>
                                </div>
                            </div>
                      <hr>
                    </div>

                    <!-- row start -->
                    <div class="row">
                        <div class="col-sm-12">
                          <div id="mapaview" ng-if="lat!=''">
                            <ui-gmap-google-map class="angular-google-map-container" center='{latitude:lat, longitude:lng}' zoom='map.zoom' draggable="true">
                             <ui-gmap-layer ng-show="municipio==16" type="KmlLayer" options="{url: 'http://controlemunicipal.tk/assets/kml/regionais2.kml'}"></ui-gmap-layer>
                              <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idKey="m.id"  click="onClickMarker(m)" icon="{url:m.icon}">
                                <ui-gmap-window show="showWindow" closeClick="'closeClick'" templateUrl="templateUrl" templateParameter="windowParams" ng-cloak>
                                </ui-gmap-window>
                              </ui-gmap-marker>
                            </ui-gmap-google-map>
                          </div>
                      </div>
                    </div>
                    <!-- row end -->

              </form>
            </section>
          </div>
          <!-- end col-sm-12 -->

        </div>
        <!-- row end -->


    </div>
    <!-- wrapper end -->

    <!-- footer start -->
    <md-footer></md-footer>
    <!-- footer end -->


</div>
<!-- body content end-->

</section>
</div>
<!-- end section