<!-- modal-header start -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title text-uppercase">Detalhes</h4>
</div>
<!-- modal-header end -->

<!-- modal-body start -->
<div class="modal-body">

  <div ng-if="candidato.isloading" class="row">
    <div class="col-md-12 text-center">
          <i class="fa fa-2x fa-spinner fa-spin"></i>
          <p>Processando...</p>
    </div>
  </div>

  <!-- form start -->
  <form id="formnovo" name="formnovo" class="form-horizontal" ng-if="!candidato.isloading">

    <div class="row state-overview">
      <div class="col-md-12">
        
        <!-- state start -->
        <div ng-if="candidato.status == 1" 
          class="state">
          <div class="icon-state">
            <span class="icon bg-success">
                <i class="material-icons">thumb_up</i>
            </span>
          </div>
          <div class="description-state">
            <p class="state-title">Candidato</p>
            <p class="state-subtitle">Ativo</p>
          </div>
        </div>
        <!-- state end -->

        <!-- state start -->
        <div ng-if="candidato.status == 2" 
          class="state">
          <div class="icon-state">
            <span class="icon bg-danger">
                <i class="material-icons">thumb_down</i>
            </span>
          </div>
          <div class="description-state">
            <p class="state-title">Candidato</p>
            <p class="state-subtitle">Inativo</p>
          </div>
        </div>
        <!-- state end -->

      </div>
    </div>

    <fieldset>
        <legend>Informações do básicas</legend>
        <div class="row">
            <div class="col-sm-12">
                <label class="title-modal">Nome </label>
                <span class="subtitle-modal" ng-bind="candidato.nome"></span>
            </div>
            <div class="col-sm-12">
              <label class="title-modal">Cargo </label>
              <span class="subtitle-modal" ng-if="candidato.cargo == 1">Prefeito</span>
              <span class="subtitle-modal" ng-if="candidato.cargo == 2">Vereador</span>
              <span
                 ng-if="candidato.cargo == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
            <div class="col-sm-12">
                <label class="title-modal">Partido </label>
                <span class="subtitle-modal" ng-bind="candidato.partido"></span>
                <span
                 ng-if="candidato.partido == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
            <div class="col-sm-12">
                <label class="title-modal">Número </label>
                <span class="subtitle-modal" ng-bind="candidato.numero"></span>
                <span
                 ng-if="candidato.numero == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contato</legend>
        <div class="row">
            <div class="col-sm-6">
                <label class="title-modal">Telefone 01 </label>
                <span
                 ng-if="candidato.celular1 != undefined" 
                 class="subtitle-modal"
                 ng-bind="candidato.celular1| brPhoneNumber"></span>
                <span
                 ng-if="candidato.celular1 == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
            <div class="col-sm-6">
                <label class="title-modal">Telefone 02 </label>
                <span
                 ng-if="candidato.celular2 != undefined" 
                 class="subtitle-modal"
                 ng-bind="candidato.celular2| brPhoneNumber"></span>
                <span
                 ng-if="candidato.celular2 == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Localização</legend>
        <div class="row">
            <div class="col-sm-6">
              <label class="title-modal">Cidade </label>
              <span
                 ng-if="candidato.cidade != undefined" 
                 class="subtitle-modal"
                 ng-bind="candidato.cidade"></span>
              <span
                 ng-if="candidato.cidade == undefined" 
                 class="subtitle-modal">N/D</span>
            </div>
        </div>
    </fieldset>

  </form>
  <!-- form end -->

</div>
<!-- modal-body end -->

<!-- modal-footer start -->
<div class="modal-footer">
    <button class="btn btn-sm btn-default" type="button" ng-click="cancel()"> Fechar</button>
</div>
<!-- modal-footer end -->


