<!-- section start -->
<div class="sticky-header">
<section>

<!-- Sidebar -->
<md-sidebar></md-sidebar>
<!-- end Sidebar -->

<!-- body content start-->
<div class="body-content" style="min-height: 1200px;">

    <!-- Header -->
    <md-header></md-header>
    <!-- end Header -->

    <div class="page-head">
        <h3 class="m-b-less text-uppercase">
            Usuário
        </h3>
        <!--<span class="sub-title">Welcome to Static Table</span>-->
        <div class="state-information">
            <ol class="breadcrumb m-b-less bg-less">
                <li>
                  <a href="dashboard">Painel</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Cadastros</a>
                </li>
                <li>
                  <a href="usuario">Usuário</a>
                </li>
                <li class="active">Atualização de senha</li>
            </ol>
        </div>

    </div>


    <!-- wrapper start -->
    <div class="wrapper">

        <!-- row start -->
        <div class="row">

          <div class="col-sm-12">
            <section class="panel">
              <div class="panel-body">

                <!-- form start -->
                <form name="$root.usuarioForm" class="form-horizontal" role="form" 
                  ng-init="load()" novalidate>

                  <section class="web-application">
                    <h4 class="h-text-light">Informações</h4>
                  </section>

                  <div class="form-group">
                    <label class="col-md-3 control-label form-horizontal">Nome</label>
                    <div class="col-md-9">
                        <span class="subtitle-modal" ng-bind="usuario.nome"></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label form-horizontal">E-mail</label>
                    <div class="col-md-9">
                        <span class="subtitle-modal" ng-bind="usuario.email"></span>
                    </div>
                  </div>
                  
                  <section class="web-application">
                    <h4 class="h-text-light">Segurança</h4>
                  </section>

                  <div class="form-group">
                    <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Senha</label>
                    <div class="col-md-3">
                        <input type="password"
                                ng-model="usuario.senha"
                                name="senha"
                                class="form-control"
                                required>
                        <span ng-if="usuarioForm.senha.$touched && usuarioForm.senha.$dirty" 
                          class="input-dirty-touched">
                            <i ng-class="usuarioForm.senha.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                        </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Confirme a senha</label>
                    <div class="col-md-3">
                        <input type="password"
                                ng-model="usuario.confirmarsenha"
                                name="confirmarsenha"
                                class="form-control"
                                required>
                        <span ng-if="usuarioForm.confirmarsenha.$touched && usuarioForm.confirmarsenha.$dirty" 
                          class="input-dirty-touched">
                            <i ng-class="usuarioForm.confirmarsenha.$valid && usuario.senha == usuario.confirmarsenha ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                        </span>
                    </div>
                  </div>

                  <hr>
                  <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">

                    <button ng-click="updatePassword()"
                          ng-disabled="usuarioForm.$invalid || usuario.senha != usuario.confirmarsenha || status.loading"
                          class="btn btn-sm btn-primary">
                          <i ng-if="status.loading" class="fa fa-spin fa-spinner"></i>
                          Salvar
                    </button>

                    <a href="usuario/">Cancelar</a>

                  </div>
                </div>


                </form>
                <!-- form end -->

              </div>
            </section>
          </div>
          <!-- end col-sm-12 -->

        </div>
        <!-- row end -->


    </div>
    <!-- wrapper end -->

    <!-- footer start -->
    <md-footer></md-footer>
    <!-- footer end -->


</div>
<!-- body content end-->

</section>
</div>
<!-- end section -->





